:root {
    --primary-dark: #7cd7fa;
    --primary-light: #bae7f3;
    --neutral: #48c1e1;
    --hover: #949191;   /* po najechaniu na zmienna */
    --hover2: #e5e5e5;
    --white: #FFFFFF;
    --back: #e4e6e7;
    --red: #E32727F7;

    --radius-large: 64px;
    --radius-medium: 10px;
    --radius-small: 5px;

    --font-small: 14px;

    --title-font: "Italiana", sans-serif;
    --transition: all 0.3s ease-in-out; /* efekt po najechaniu*/
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-small);
    color: #000;
}


body{
    background-color: var(--primary-dark);
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 79,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 15px;
    height: 100px;
    /**/
    display: flex; /* Ustawia elementy w nagłówku na elastyczne */
    align-items: center; /* Wyśrodkowanie w pionie */
}

.logoImage {
    max-width: 100%;
    max-height: 100%;
}

.title {
    margin-left: 15px;
    width: 65%;
    display: flex;
    flex-direction: column; /* Ustawienie elementów w pionie */
    justify-content: center; /* Wyśrodkowanie elementów w pionie */
    align-items: flex-start; /* Wyśrodkowanie elementów w poziomie */
}

.title > * {
    margin: 5px 0; /* odstęp między elementami */
}

.title > *:not(:last-child) {
    border-bottom: 1px solid black; /* Dodajemy kreskę oddzielającą */
    margin-right: 5px;
}

button {
    display: flex;
    width: 160px;
    height: 45px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-medium);
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Efekt przejścia podczas zmiany tła */
}

.headerButton {
    margin-left: auto;
    margin-right: 30px;
}

button:hover {
    background-color: var(--hover); /* Tło po najechaniu myszą */
}

.cleanButton {
    margin: 20px auto;
    width: 200px;
    background-color: var(--red);
}

.cleanButton:hover {
    background-color: #961313;
}

.addButton {
    margin: 10px auto;
    width: 200px;
}

.freeBorder {
    background-color: var(--primary-light);
    width: 170px;
    height: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: normal;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.searchInput {
    width: 400px;
}

.groupInput {
    width: 700px;
}

.adminInput {
    width: 500px;
}

.inputWithButton {
    display: flex;
}

.inputWithButton > input {
    margin-right: 10px;
}

.topicHeader {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.topicList {
    padding: 0; /* Usunięcie wewnętrznego marginesu listy */
    margin: 0 40px; /* Dodanie marginesów z prawej i lewej strony 40px */
    font-weight: normal;
}

.studentList {
    padding: 0;
    margin: 0 40px;
    font-weight: normal;
}

.studentGroupList {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 320px;
    font-weight: normal;
}

.adminList {
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 400px;
    font-weight: normal;
}

.borderItem {
    background-color: #bae7f3;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
}

.borderNotification {
    background-color: #bae7f3;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 5fr 2fr 1fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
}

.borderGroups {
    background-color: #bae7f3;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 2fr 5fr 2fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
}

.borderStudents2 {
    background-color: #bae7f3;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 2fr 5fr 2fr 2fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
}

.borderStudent {
    background-color: #bae7f3;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 3fr 3fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
}

.topicItem {
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    height: 55px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
}

.topicItem:hover {
    background-color: var(--hover2);
}

.adminItem {
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    height: 55px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 3fr 3fr 2fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
}

.notificationItem {
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    height: 55px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 5fr 2fr 1fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
    font-weight: bold;
    /* usuniecie pogrubienia w moemncie przeczytania powiadomienia*/
}

.notificationItem:hover {
    background-color: var(--hover2);
}

.groupItem {
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 2fr 5fr 2fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
}

.groupItem:hover {
    background-color: var(--hover2);
}

.studentItem {
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    height: 55px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 2fr 5fr 2fr 2fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
}

.studentGroupItem {
    background-color: #fff;
    margin-bottom: 15px; /* Dodanie odstępu między elementami listy w pionie */
    padding: 10px;
    border-radius: var(--radius-small);
    display: grid;  /* Siatka*/
    grid-template-columns: 2fr 3fr 3fr;
    gap: 5px; /* Odstęp między elementami */
    justify-items: center;
    align-items: center;
}

.loginHeader {
    background-color: var(--primary-light);
    width: 400px;
    height: 60px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Wyśrodkowanie zawartości na osi poziomej */
    text-align: center; /* Wyśrodkowanie tekstu */
}

input {
    width: 250px;
    height: 35px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-medium);
    border: none;
}

.loginSection {
    background-color: var(--neutral);
    width: 400px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Wyśrodkowanie zawartości na osi poziomej */
}

.loginSection input {
    margin-bottom: 20px; /* Zwiększenie odstępu między inputami */
}

.errorMessage {
    margin: 0px auto;
    background-color: var(--red); /* Czerwone tło z przezroczystością */
    width: 400px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
}

.errorMessage p {
    margin-bottom: 10px; /* Odstęp między paragrafami */
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);  /*1 fr - fraction = podziel ekran na 12 czesci*/
    width: 100%;
    height: 100vh;  /*cała wysokość okna*/
}

.menu{
    grid-column: 1/3;   /*rozciagniecie miedzy 1 i 3 krawedzia*/
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #FFF;
    padding-top: 30px;
    padding-left: 20px;
}
/* Button strony, na ktorej sie znajdujemy*/
.pageButton {
    background-color: var(--hover2);
    border-radius: 0px;
    width:100%;
    color: #000;
    font-weight: normal;
    gap: 10px;
    justify-content: flex-start;
}

.pageButton:hover {
    background-color: var(--hover2);
}

/*Button pozostalych stron*/
.menuButton {
    background-color: #fff;
    border-radius: 0px;
    width:100%;
    color: #000;
    font-weight: normal;
    gap: 10px;
    justify-content: flex-start;
}

.menuButton:hover {
    background-color: var(--hover2);
}

.page {
    grid-column: 3/13;
    margin-top: 20px;
}

h1 {
    padding: 6px 24px;
    font-size: 30px;
    background-color: var(--primary-light);
}

h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    padding-right: 200px;
    font-size: 20px;
}

article {
    margin: 30px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: normal;
}

.headerAdmin {
    height: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.addGroup {
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.addGroup > * {
    margin-bottom: 10px; /* Odstęp między elementami */
}

.searchButton {
    margin-left: 10px;
    height: 35px;
    width: 100px;
}

.newTopicButton {
    margin-left: 10px;
    height: 35px;
    width: 170px;
}

.groupButton {
    margin-left: 10px;
    height: 35px;
    width: 140px;
}

.adminButton {
    margin-left: 80px;
    height: 35px;
    width: 200px;
}

.freeBorder2 {
    background-color: var(--primary-light);
    width: 170px;
    height: 40px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: normal;
}

